<div class="bg-purblue-500">
  <div class="max-w-screen-xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-center text-center">
      <h1 class="text-base leading-6 font-semibold text-purblue-100 tracking-wide uppercase"><%= t('features.header.sub_title') %></h1>
      <p class="mt-1 text-4xl leading-10 font-extrabold text-white sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl"><%= t('features.header.title') %></p>
      <p class="max-w-xl mt-5 mx-auto text-xl leading-7 text-gray-100">
        <%= t('features.header.made') %>
      </p>
    </div>
  </div>
</div>


      <!-- gauge -->
<div class="hidden md:block w-1 z-1 absolute gauge-wrapper gauge bg-purblue-900"></div>
<div class="hidden md:block gauge-wrapper">
  <a href="#feature-one"><div class="absolute bg-purblue-900 z-0 gauge w-6 h-6 gauge-circle"></div></a>
</div>
<!-- feature 1-->
<div id="feature-one" class="md:grid md:grid-cols-2 md:gap-4 items-center justify-items-center text-center">
  <%= image_tag("reduce_smoke_calendar.png", class:"mx-auto mt-4 md:mt-2 feature-image") %>
  <div class="bg-blue-100 rounded-xl p-4 max-w-sm mx-auto mt-4 md:mt-0 text-center">
    <h3 class="text-purblue-500 text-xl "><%= t('features.features.one.title') %></h3>
    <p class="text-gray-900">
      <%= t('features.features.one.description') %>
  </div>
</div>
<div class="hidden md:block gauge-wrapper">
  <a href="#feature-two"><div class="absolute bg-purblue-900 z-0 gauge w-6 h-6 gauge-circle"></div></a>
</div>

<!-- feature 2 -->
<div id="feature-two" class="md:grid md:grid-cols-2 md:gap-4 items-center justify-items-center text-center">
  <div class="bg-red-100 rounded-xl p-2 max-w-sm mx-auto mt-4 md:mt-0 text-center">
    <h3 class="text-purblue-500 text-xl "><%= t('features.features.two.title') %></h3>
    <p class="text-gray-900">
      <%= t('features.features.two.description') %>
  </div>
  <%= image_tag("app_daily_program.png", class:"mx-auto feature-image") %>
</div>
<div class="hidden md:block gauge-wrapper">
  <a href="#feature-three"><div class="absolute bg-purblue-900 z-0 gauge w-6 h-6 gauge-circle"></div></a>
</div>

<!-- feature 3-->
<div id="feature-three" class="md:grid md:grid-cols-2 md:gap-4 items-center justify-items-center text-center">
  <%= image_tag("app_smoking_statistics.png", class:"mx-auto feature-image") %>
  <div class="bg-pink-100 rounded-xl max-w-sm mx-auto mt-4 md:mt-0 text-center">
    <h3 class="text-purblue-500 text-xl "><%= t('features.features.three.title') %></h3>
    <p class="text-gray-900">
      <%= t('features.features.three.description') %>
  </div>
</div>
<div class="hidden md:block gauge-wrapper">
  <a href="#feature-four"><div class="absolute bg-purblue-900 z-0 gauge w-6 h-6 gauge-circle"></div></a>
</div>

<!-- feature 4 -->
<div id="feature-four" class="md:grid md:grid-cols-2 md:gap-4 items-center justify-items-center text-center">
  <div class="bg-purple-100 rounded-xl max-w-sm mx-auto mt-4 md:mt-0 text-center">
    <h3 class="text-purblue-500 text-xl "><%= t('features.features.four.title') %></h3>
    <p class="text-gray-900">
      <%= t('features.features.four.description') %>
  </div>
  <%= image_tag("support_message.png", class:"mx-auto feature-image") %>
</div>
<div class="hidden md:block gauge-wrapper">
  <a href="#feature-four"><div class="absolute bg-purblue-900 z-0 gauge w-6 h-6 gauge-circle"></div></a>
</div>

<!-- feature 5 -->
<div id="feature-five" class="md:grid md:grid-cols-2 md:gap-4 items-center justify-items-center text-center">
  <%= image_tag("manual_cigarette_adjustment.png", class:"mx-auto feature-image") %>
  <div class="bg-green-100 rounded-xl max-w-sm mx-auto mt-4 md:mt-0 text-center">
    <h3 class="text-purblue-500 text-xl "><%= t('features.features.five.title') %></h3>
    <p class="text-gray-900">
      <%= t('features.features.five.description') %>
  </div>
</div>
<div class="hidden md:block gauge-wrapper">
  <a href="#feature-five"><div class="absolute bg-purblue-900 z-0 gauge w-6 h-6 gauge-circle"></div></a>
</div>

<!-- feature 6 -->
<div id="feature-four" class="md:grid md:grid-cols-2 md:gap-4 items-center justify-items-center text-center">
  <div class="bg-purple-100 rounded-xl max-w-sm mx-auto mt-4 md:mt-0 text-center">
    <h3 class="text-purblue-500 text-xl "><%= t('features.features.six.title') %></h3>
    <p class="text-gray-900">
      <%= t('features.features.six.description') %>
  </div>
  <%= image_tag("reduction_smoking_trophies.png", class:"mx-auto feature-image") %>
</div>
