<!-- Footer -->
<footer class="bg-purblue-500 w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
  <h2 class="sr-only">Footer</h2>
  <div class="xl:grid xl:grid-cols-3 xl:gap-8">
    <div class="grid grid-cols-2 gap-8 xl:col-span-2">
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h4 class="text-sm leading-5 font-semibold text-white tracking-wider uppercase">

            <%= t('footer.group_one.links.first') %>
          </h4>
          <ul class="mt-4 space-y-4">
            <li>
              <a href="<%=  method_path %>" class="text-base leading-6 text-gray-100 hover:text-gray-900">
                <%= t('footer.group_one.links.second') %>
              </a>
            </li>
            <li>
              <a href="<%=  features_path %>" class="text-base leading-6 text-gray-200 hover:text-gray-900">
                <%= t('footer.group_one.links.third') %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
    <p class="mt-8 text-base leading-6 text-white md:mt-0 md:order-1">
      &copy; With ❤️ at yoopla
    </p>
  </div>
</footer>
