<nav class="relative max-w-screen-xl mx-auto flex items-center justify-between px-4 sm:px-6">
  <div class="flex items-center flex-1">
    <div class="flex items-center justify-between w-full md:w-auto">
      <a href="<%= root_path %>" aria-label="Home">
<!--         <svg class="h-24 w-auto sm:h-12" xmlns="http://www.w3.org/2000/svg" width="911" height="415" viewBox="0 0 911 415"><g id="Groupe_333" data-name="Groupe 333" transform="translate(-247 -165)"><circle id="Ellipse_165" data-name="Ellipse 165" cx="74" cy="74" r="74" transform="translate(399 353)" fill="#6219ee"/><ellipse id="Ellipse_166" data-name="Ellipse 166" cx="56" cy="55" rx="56" ry="55" transform="translate(417 372)" fill="#fff"/><circle id="Ellipse_167" data-name="Ellipse 167" cx="44" cy="44" r="44" transform="translate(429 383)" fill="#f56565"/><circle id="Ellipse_168" data-name="Ellipse 168" cx="29" cy="29" r="29" transform="translate(444 398)" fill="#fff"/><circle id="Ellipse_170" data-name="Ellipse 170" cx="74" cy="74" r="74" transform="translate(558 353)" fill="#6219ee"/><ellipse id="Ellipse_171" data-name="Ellipse 171" cx="56" cy="55" rx="56" ry="55" transform="translate(576 372)" fill="#fff"/><circle id="Ellipse_172" data-name="Ellipse 172" cx="44" cy="44" r="44" transform="translate(588 383)" fill="#f56565"/><circle id="Ellipse_173" data-name="Ellipse 173" cx="29" cy="29" r="29" transform="translate(603 398)" fill="#fff"/><text id="pla" transform="translate(932 499)" fill="#6219ee" font-size="309" font-family="SofiaProSoftMedium, Sofia Pro Soft"><tspan x="-225.57" y="0">pla</tspan></text><text id="Y" transform="translate(323 499)" fill="#6219ee" font-size="309" font-family="SofiaProSoftMedium, Sofia Pro Soft"><tspan x="-75.859" y="0">y</tspan></text></g>
        </svg> -->
        <%= image_tag("logos/logo-transparent.png", class:"h-24 w-auto sm:h-12") %>
      <div class="-mr-2 flex items-center md:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" id="main-menu" aria-label="Main menu" aria-haspopup="true">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
    <div class="mt-4 hidden md:block md:ml-10">
      <a href="<%= method_path %>" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out"><%= t('navbar.menu_links.first') %></a>
      <a href="<%= features_path %>" class="ml-10 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out"><%= t('navbar.menu_links.second') %></a>
      <% if I18n.locale == I18n.default_locale %>
        <a href="<%= root_path(locale: :fr) %>" class="ml-10 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">FR</a>
      <% else %>
        <a href="<%= root_path(locale: :en) %>" class="ml-10 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">EN</a>
      <% end %>
    </div>
  </div>
</nav>
<div id="mobile-navbar" class="hidden absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
  <div class="rounded-lg shadow-md">
    <div class="rounded-lg bg-white shadow-xs overflow-hidden" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
      <div class="px-5 pt-4 flex items-center justify-between">
        <div>
          <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" width="911" height="415" viewBox="0 0 911 415"><g id="Groupe_333" data-name="Groupe 333" transform="translate(-247 -165)"><circle id="Ellipse_165" data-name="Ellipse 165" cx="74" cy="74" r="74" transform="translate(399 353)" fill="#6219ee"/><ellipse id="Ellipse_166" data-name="Ellipse 166" cx="56" cy="55" rx="56" ry="55" transform="translate(417 372)" fill="#fff"/><circle id="Ellipse_167" data-name="Ellipse 167" cx="44" cy="44" r="44" transform="translate(429 383)" fill="#f56565"/><circle id="Ellipse_168" data-name="Ellipse 168" cx="29" cy="29" r="29" transform="translate(444 398)" fill="#fff"/><circle id="Ellipse_170" data-name="Ellipse 170" cx="74" cy="74" r="74" transform="translate(558 353)" fill="#6219ee"/><ellipse id="Ellipse_171" data-name="Ellipse 171" cx="56" cy="55" rx="56" ry="55" transform="translate(576 372)" fill="#fff"/><circle id="Ellipse_172" data-name="Ellipse 172" cx="44" cy="44" r="44" transform="translate(588 383)" fill="#f56565"/><circle id="Ellipse_173" data-name="Ellipse 173" cx="29" cy="29" r="29" transform="translate(603 398)" fill="#fff"/><text id="pla" transform="translate(932 499)" fill="#6219ee" font-size="309" font-family="SofiaProSoftMedium, Sofia Pro Soft"><tspan x="-225.57" y="0">pla</tspan></text><text id="Y" transform="translate(323 499)" fill="#6219ee" font-size="309" font-family="SofiaProSoftMedium, Sofia Pro Soft"><tspan x="-75.859" y="0">y</tspan></text></g>
          </svg>
        </div>
        <div class="-mr-2">
          <button id="close-mobile-navbar" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Close menu">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="px-2 pt-2 pb-3">
          <a href="<%= method_path %>" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem"><%= t('navbar.menu_links.first') %></a>
          <a href="<%= features_path %>" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem"><%= t('navbar.menu_links.second') %></a>
          <a href="<%=  %>"></a>
        </div>
      </div>
    </div>
  </div>
</div>
